@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* wszystko do karuzeli */
.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 2s ease;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.carousel-controls button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 50px;
}

.carousel-controls button:hover {
  color: #6d6e71;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-indicators button {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  padding: 0;
  transition: background-color 0.3s ease;
}

.carousel-indicators button.active {
  background-color: rgba(255, 255, 255, 0.9);
}

.carousel-indicators button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
/* koniec karuzeli */

/*  */
/*  */
/*  */
/* Add this to your CSS */
.image-enter {
  opacity: 0;
}
.image-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1500ms, transform 1500ms;
}
.image-exit {
  opacity: 1;
  transform: scale(1);
}
.image-exit-active {
  opacity: 0;

  transition: opacity 1500ms, transform 1500ms;
}

/*  */
/*  */
.scrollToTopButton {
  position: fixed;
  right: 20px;
  bottom: -20px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, bottom 0.7s ease;
  border-radius: 50%;
  background: rgba(240, 240, 240, 0.8);
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.scrollToTopButton.visible {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}

.scrollToTopButton .fa-chevron-up {
  color: #00abd7; /* Specific color for the arrow */
}

/*  */

/* miniaturki */
.thumbnail-link img {
  transition: transform 0.6s ease;
}

.thumbnail-link img:hover {
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.thumbnail-enter {
  animation: fadeIn 0.5s ease-out;
}

/* koniec miniaturek */

.background-image {
  background-image: url("/img-restauracja/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}
/* pokoje, animacja i wyswietlanie <li> */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature-icon {
  opacity: 0;
  animation-fill-mode: forwards;
}

.centered-list-items ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-list-items li {
  list-style-position: inside;
  display: flex;
  justify-content: center;
  width: 100%;
}
/* koniec pokoi*/

.thumbnail-link:hover img {
  transform: scale(1.15);
}

@media (max-width: 767px) {
  .top-bar {
    display: none;
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
